body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 200px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 160px;
    bottom: 0;
}

#edit_addcollab {
    cursor: pointer;
}

.bg-secondary-color {
    background-color: #F9AA33;
}

.event {
    overflow: hidden;
}

#expand-event {
    cursor: pointer;
}

#home-notif{
    cursor: pointer;
}

.notif {
    right: 10;
    top: 50;
}

.maj-member-icon-div {
    cursor: pointer;
}