body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e1e0;
    color: #212121;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
}

.doc {
    background-color: #FFA000;
    width: 70%;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h4 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-left: 5px;
}

.name {
    background-color: #FFFFFF;
    margin: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25) inset;
}

p {
    color: #212121;
    padding: 5px 10px 5px 10px;
    margin: 0;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #BDBDBD;
}